
<div  class="hero-unit">
  <h1>New APN</h1>
</div> 

<div class="row">
  <div class="span2">
    Message to be Sent:
  </div>
  <div class="span6">
    <%= text_field_tag 'message' %>
  </div>
</div>

<div class="row">
  <div class="span8">
    <button class="btn btn-info" id="apn_message">Send Message</button>
  </div>
  <div class="span8" id="sent_message">
  </div>
</div>

